# Dependências dos exemplos das aulas
requests
beautifulsoup4
selenium

# Dependências do Querido Diário (raspadores e toolbox)
awscli
black
boto3
chompjs
dateparser
flake8
isort
itemadapter
jinja2
pip-tools
pre-commit
psycopg2-binary
python-dateutil
python-decouple
scrapy
schematics
SQLAlchemy
spidermon[monitoring]
wheel

coverage
python-magic
jupyter
